header {
  height: 100vh;

  padding-top: 4rem;
  overflow: hidden;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header_container h1 {
  letter-spacing: 0.5rem;
}
/* call to action ================= */
.CallToAction {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
/* header Socials================== */
.headerSocials {
  border-radius: 10rem;
  width: 3rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  margin-bottom: 3rem;
  bottom: 5rem;
  transition-duration: 1s;
}
.headerSocials:hover {
  gap: 2rem;
}
/* ==========me============== */
.me {
  background-image: linear-gradient(var(--colorPrimary), transparent);

  width:25rem;
  position: absolute;
  left: calc(50% - 12rem);
  margin-top: 3rem;
  
  border-radius:5rem 5rem 0 0;
  overflow: hidden;
  
  transition-duration: 0.9s;
}


/* ==========scroll down============ */
.scrollDown {
  position: absolute;
  right: -7rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.8rem;
  bottom: 11rem;
  letter-spacing: 1rem;
}

/* end of general classes */
/* ========================================media queries for ( MEDIUM DEVICES ) ================================ */
@media screen and (max-width: 1024px) {
  .container {
    height:fit-content;
  }

}
/* ========================================media queries for ( SMALL DEVICES ) ================================ */
@media screen and (max-width: 600px) {
  .container {

    height:fit-content;
  }
  .me{
    width:20rem;
    left: calc(50% - 10rem);
  }
 
  .headerSocials,
  .scrollDown {
    display: none;
  }
}
